#space {
  border: 1px solid black;
  background-image: url("../assets/Background/starBackground.png");
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

#space p {
  font: bold 48px Arial, Courier, monospace;
  color: #fff;
  text-align: right;
  z-index: 1000 !important;
  direction: rtl;
  margin-left: 20px;
}

#space a {
  text-align: center;
}

#ship, .enemy-ship, .enemy-ufo, .enemy-small-asteroid, .enemy-big-asteroid, .shot {
  position: absolute;
}
  
#img-life-1 {
  opacity: 0;
}

.information, .img-life, .overlay{
  position: relative;
  text-align: center;
}

#restart-button {
  transition-duration: 0.4s;
  border: none;
  padding: 15px 32px;
  font-size: 16px;
  background-color: red;
  font-weight: 700;
  color: white;
}

#restart-button:hover {
  background-color: #4CAF50; 
  color: white;
}

.img-life {
  margin-right: 10px;
}