<center>
    <h1>SpaceShooter</h1>
    <img src="img/jogo.PNG">
    <p style="text-align: justify; margin-left: 30%">O jogo SpaceShooter, por ser WEB, funciona multiplataforma, podendo ser jogado em qualquer computador:
    <ul style="text-align: justify; margin-left: 28.5%">
        <li>Ative seu motor de Dobra e venha nesta jornada para ir onde ninguém jamais esteve.</li>
        <li>Pontue eliminando diferentes classes inimigas</li>
    </ul>
    </p>
</center>